<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>cat.jare</key>
	<dict>
		<key>Duration</key>
		<real>1.400000000000000e-01</real>
		<key>Instrument</key>
		<integer>16425</integer>
		<key>Pitch</key>
		<integer>38</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>96</integer>
	</dict>
	<key>cat.slp.h</key>
	<dict>
		<key>Duration</key>
		<real>7.00000000000000e-01</real>
		<key>Instrument</key>
		<integer>59</integer>
		<key>Pitch</key>
		<integer>25</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>36</integer>
	</dict>
	<key>cat.slp.l</key>
	<dict>
		<key>Duration</key>
		<real>7.00000000000000e-01</real>
		<key>Instrument</key>
		<integer>59</integer>
		<key>Pitch</key>
		<integer>20</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>36</integer>
	</dict>
	<key>cat.col</key>
	<dict>
		<key>Duration</key>
		<real>1.000000000000000e-01</real>
		<key>Instrument</key>
		<integer>16410</integer>
		<key>Pitch</key>
		<integer>75</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>96</integer>
	</dict>
	<key>cat.fs</key>
	<dict>
		<key>Duration</key>
		<real>1.000000000000000e-01</real>
		<key>Instrument</key>
		<integer>16385</integer>
		<key>Pitch</key>
		<integer>36</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>36</integer>
	</dict>
	<key>cat.scr</key>
	<dict>
		<key>Duration</key>
		<real>1.000000000000000e-01</real>
		<key>Instrument</key>
		<integer>16433</integer>
		<key>Pitch</key>
		<integer>69</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>48</integer>
	</dict>
	<key>cat.shp</key>
	<dict>
		<key>Duration</key>
		<real>1.000000000000000e-01</real>
		<key>Instrument</key>
		<integer>637</integer>
		<key>Pitch</key>
		<integer>72</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>48</integer>
	</dict>
	<key>cat.drg</key>
	<dict>
		<key>Duration</key>
		<real>1.400000000000000e-01</real>
		<key>Instrument</key>
		<integer>16441</integer>
		<key>Pitch</key>
		<integer>42</integer>
		<key>Type</key>
		<string>QTM</string>
		<key>Velocity</key>
		<integer>96</integer>
	</dict>
</dict>
</plist>
