<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>activeness</key>
	<dict>
		<key>initial value</key>
		<integer>1</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>activeness</string>
			</dict>
		</array>
	</dict>
	<key>chi</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>chi</string>
			</dict>
		</array>
	</dict>
	<key>cowardice</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>cowardice</string>
			</dict>
		</array>
	</dict>
	<key>curiosity</key>
	<dict>
		<key>initial value</key>
		<integer>1</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>curiosity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.00000001866786141</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>fatigue</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>fatigue</string>
			</dict>
		</array>
	</dict>
	<key>happiness</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>2.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>sanitation</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>immunity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>-0.000042</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>happiness</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>hunger</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.0000084</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>immunity</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>sanitation</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>immunity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.00000025</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>sanitation</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&gt;=</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>immunity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>sanitation</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.8</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&gt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>immunity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.0000018</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>obedience</key>
	<dict>
		<key>initial value</key>
		<real>5.000000000000000e-01</real>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>obedience</string>
			</dict>
		</array>
	</dict>
	<key>sanitation</key>
	<dict>
		<key>initial value</key>
		<integer>1</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>sanitation</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.000001</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>surprise</key>
	<dict>
		<key>initial value</key>
		<integer>0</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>surprise</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.00232</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>tediousness</key>
	<dict>
		<key>initial value</key>
		<integer>1</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>2.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>chi</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>fatigue</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
	<key>vitality</key>
	<dict>
		<key>initial value</key>
		<integer>1</integer>
		<key>maximum</key>
		<real>1.000000000000000e+00</real>
		<key>minimum</key>
		<real>0.000000000000000e+00</real>
		<key>oneStep</key>
		<array>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>vitality</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&gt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>vitality</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.9</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&gt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.00000043</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>-</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.9</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>hunger</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>vitality</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.000005208</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pp</string>
				<key>param</key>
				<string>immunity</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>&lt;</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>pn</string>
				<key>param</key>
				<string>0.00000043</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>+</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
			<dict>
				<key>operator</key>
				<string>*</string>
				<key>param</key>
				<string>0.0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
